/*OUR TEAM CSS*/
.img-responsive-info {
    max-width: 120px;
    height: auto;
}
.img-circle-team {
    max-width: 200px;
    height: auto;
    border-radius: 50%;

}

h1 {
    text-align: center;
    padding: 15px;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    margin-top:  15px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

h3 {
    color: darkgrey;
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

span {
    color: #f39c12;
}

.background-flag {
    background-image: url("https://img.clipartfest.com/cd09b44cabef5c620e80791b601a4b40_race-flags-clip-art-clipart-checkered-flag_2012-909.png");
    background-size:100%;
    background-repeat: no-repeat;
    padding: 0px;
}

.background-invert {
    transform: rotate(180deg);
}


.section1 {
    height: 100vh;
    padding-top: 15vh;
    text-align: center;
}



/*CONTACT CSS*/
.form-background {
    background-color: #f39c12;
}



/*FOOTER CSS*/
.footer {
    background-color: #f39c12;
    position: relative;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: black;
    margin-bottom: 2px;
}
/*FOOTER CSS*/

/*animation*/
@keyframes changeColors {
    0% { background-color: #0d1931;}
    17% {background-color: deeppink}
    30% { background-color: black;}
    60%{ background-color: blue;}
    78% {background-color: limegreen;}
    100%{ background-color: lightgray;}
 }
.anime {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: limegreen;
    animation: changeColors 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
.list-of-pageFunction {
    text-align: center;
    background-color: #333333;
    color: white;
    align-content: center;
    border-radius: 20px;

}

.midle {
    width: 300px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}

.text-central {
    text-align: center;
}

.text-central li {
    list-style: none;
    display: block;
    text-align: left;
    background-color: #333333;

}

.text-central li:before{
    content: "*  ";
    color: #f39c12;
}


.left-side {

    height: 50px;
    width: 50px;
    padding-right: 3px;
}

.right-side {
}


.clear{
    clear: both;
}

.product-cont {
    display: flex;
    justify-content: center;

}

.flex-box{
    display: flex;
}

.down{
    text-align: center;
}