body {                                                               /*obrazek w tle */
    backgroung-size: cover;
    margin: 0px;
    text-align: center;
}
header{
    height: 100vh;
    background: #f39c12 url("../images/auto_tlo.png") no-repeat top fixed;

}
.aside {
    width: 40vh;
    float: left;
    margin-top: 50px;
    margin-left: 30px;


}
.white {
    font-color: #FFA812;

                       }
.main{                                                 /* aside i main dzieli stronę na kontenery czy bloki*/ 
    width: 60vh;
    float: right;
    margin-top: 60px;
    margin-right: 30px;

}


section {
    height: 100vh;
    padding: 60px;
    text-align: left;
    font-size: 15px;
}
nav {                                                  /*blok nawigacji*/
    margin: 0px;
    background-color: #000000;
    position: fixed;                                   /* trzyma na górze strony*/
    display: block;
    text-align: center;
    width: 100%;                                       /*szerokość menu na 100 % strony*/
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
    background-color: #333333;

}

li {
    display:inline-block; /* robi  menu w poziomie*/
    align:center;

}

li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111111;
}
   /*test ramki z tekstem, padding margin etc...
.test {
    width: 100%;
    height: 100px;
    padding: 20px;
    border-color: red;
    border-style: solid;
       }
                                                */


.right{
    text-align: right;
}
/*animation*/
@keyframes changeColors {
    0% { background-color: #0d1931;}
    17% {background-color: deeppink}
    30% { background-color: black;}
    60%{ background-color: blue;}
    78% {background-color: limegreen;}
    100%{ background-color: #F9IEIE;}
 }
.anime {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: limegreen;
    animation: changeColors 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
form{
    padding-top: 70px;
}

