body {                                                               /*obrazek w tle */
    background: url("images/auto_tlo.png") no-repeat top;
    backgroung-size: cover;
    margin: 0px;
    text-align: center;
}
header{
    height: 900px;

}
iframe{
    height: 100%;
    width: 100%;
    background-position: center;
    position: absolute;
    background-image: url("../images/flag_background.png");



}/*
.aside {
    width: 40%;
    float: left;
    margin-top: 50px;
    margin-left: 30px;


}
.white {
    font-color: #FFA812;
                       }
.main{                                                 /* aside i main dzieli stronę na kontenery czy bloki*/
    width: 60%;
    float: right;
    margin-top: 60px;
    margin-right: 30px;

}


section {
    height: 900px;
    padding: 60px;
    text-align: left;
    font-size: 15px;
}
.abo {
    height: 100vh;
    text-align: left;
    font-size: 15px;
    padding-top: 70px;
    background-image: url("../images/flag_background.png");

}


nav {                                                  /*blok nawigacji*/
    margin: 0px;
    background-color: #000000;
    position: fixed;                                   /* trzyma na górze strony*/
    display: block;
    text-align: center;
    width: 100%;                                       /*szerokość menu na 100 % strony*/
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
    background-color: #333333;

}

li {
    display:inline-block; /* robi  menu w poziomie*/
    text-align:center;

}

li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    
}

li a:hover {
    background-color: #111111;
}

.right{
    text-align: right;
}
/*animation*/
@keyframes changeColors {
    0% { background-color: #0d1931;}
    17% {background-color: deeppink}
    30% { background-color: black;}
    60%{ background-color: blue;}
    78% {background-color: limegreen;}
    100%{ background-color: #f91E1E;}
 }
.anime {
    display: inline-block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    background-color: limegreen;
    animation: changeColors 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
form{
    padding-top: 70px;
}

