.list-of-pageFunction {
    text-align: center;
    background-color: #333333;
    color: white;
    align-content: center;

}

.midle {
    width: 300px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;

}

.text-central {
    text-align: center;
}

.text-central li {
    list-style: none;
    display: block;
    text-align: left;
    background-color: #333333;

}

.text-central li:before{
    content: "*  ";
    color: #f39c12;
}


.left-side {

    height: 50px;
    width: 50px;
    padding-right: 3px;
}

.right-side {
}


.clear{
    clear: both;
}

.product-cont {
    display: flex;
    justify-content: center;

}

.flex-box{
    display: flex;
}

.down{
    text-align: center;
}