/*OUR TEAM CSS*/
.img-responsive-info {
    height: auto;
}
.img-circle-team {
    max-width: 200px;
    height: auto;
    border-radius: 50%;

}

h1 {
    text-align: center;
    padding: 15px;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    text-align: center;
    margin-top:  15px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    color: darkgrey;
    text-align: center;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
}

p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
/*OUR TEAM CSS*/


/*FOOTER CSS*/
.footer {
    background-color: #f39c12;
    position: relative;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-bottom: 2px;
}
/*FOOTER CSS*/

/*START CSS*/
h4 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}

h5 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.buttons-lub {
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

.background-image {
    background-image: url("car_background.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.over-background {
    background-color: rgba(243, 156, 18, 0.9);
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;

}

.section-start {
    margin-bottom: 100px;
}
/*START CSS*/


/*BUTTONS CSS*/
.btn {
    background-color: black;
    border: none;
    height: 10%;
    width: 60%;
    margin-bottom: 5%;
}

.btn:hover {
    background-color: #f39c12;
}
/*BUTTONS CSS*/


/*PRODUCT INFO CSS*/
li {
    list-style-type: none;
}

.glyphicon-ok {
    color: #f39c12;
}

.product-info-header {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.product-info-list {
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

span1 {
    color: #f39c12;
}
/*PRODUCT INFO CSS*/

/*ABOUT US CSS*/
.section-about-us {
    margin-bottom: 50px;
    background-color: #bdc3c7;
    font-family: 'Open Sans', sans-serif;
}

.about-us-header {
    font-size: 20px;
    margin-bottom: 20px;
}
/*ABOUT US CSS*/

/*FORM CSS*/
.form-control {
    width: 50%;
}

label {
    width: 100%;
    text-align: center;
}

.form-background {
    background-color: #bdc3c7;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*FORM CSS*/