.ourteam {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    max-width: 1000px;
    margin: 0 auto;

}
.ourteam div {
    width: 40%;
    padding: 40px;
}

.ourteam div img {
    border-radius: 150px;
    float: left;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.ourteam div:nth-child(2) img, .ourteam div:nth-child(4) img{
    float: right;
}

.ourteam p, .ourteam {
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
}

.tb {
    background-color: #333333;
    border-radius: 40px;
}

.contactform  {
    text-align: center;
    padding: 40px;
}

form h3, label {
    text-align: center;
    color: black;
    font-family: 'Lato', sans-serif;
    padding: 5px;
    display: block;
}

.button {
    width: 200px;
    height: 50px;
    text-align: center;
    margin: 20px;
}

input {
    width: 300px;
    border: none;
    padding: 12px 20px;
}

.button {
    background-color: black;
    border: none;
    font-family: 'Lato', sans-serif;
    color: white;
    cursor: pointer;
}

.formdiv {
    background-color: #f39c12;
    display: inline-block;
    text-align: center;
    width: 50%;
}

.textarea {
    width: 300px;
    font-family: 'Lato', sans-serif;
    border: none;
}

.background-flag {
    background-image: url("https://img.clipartfest.com/cd09b44cabef5c620e80791b601a4b40_race-flags-clip-art-clipart-checkered-flag_2012-909.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0px;
}

.background-invert {
    transform: rotate(180deg);
}

.footer {
    background-color: #f39c12;
    font-family: 'Lato', sans-serif;
}









