/*START CSS*/
.background-image {
    background-image: url("../projektpage/car_background-min.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.over-background {
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 15%;
    margin-bottom: 15%;
    text-align: center;

}

.section-start {
    margin-bottom: 40px;
}

.h2-start {
    margin-bottom: 5%;
}
/*START CSS*/


/*ABOUT US CSS*/
.section-about-us {
    margin-bottom: 40px;
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Open Sans', sans-serif;
}

.about-us-header {
    font-size: 20px;
    margin-bottom: 20px;
}
/*ABOUT US CSS*/

/*PRODUCT INFO CSS*/
.section-product-info {
    margin-bottom: 40px;
    padding-bottom: 15px;
    background: #8e9eab;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

li {
    list-style-type: none;
}

.glyphicon-ok {
    color: #f39c12;
}

.product-info-header {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.product-info-list {
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

/*PRODUCT INFO CSS*/

/*OUR TEAM CSS*/
.section-our-team {
    margin-bottom: 50px;
}

.img-responsive-info {
    height: auto;
}
.img-circle-team {
    max-width: 200px;
    height: auto;
    border-radius: 50%;
}

p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.text-yellow {
    color: #f39c12;
}
/*OUR TEAM CSS*/


/*FORM CSS*/
.section-contact {
    margin-bottom: 40px;
}

.form-control {
    width: 50%;
}

label {
    width: 100%;
    text-align: center;
}

.form-background {
    background: #F2994A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/*FORM CSS*/



/*FOOTER CSS*/
.footer {
    text-align: center;
    color: darkgray;
    font-family: 'Open Sans', sans-serif;
    background-image: url("footer_lodyas.png");
}

.footer-row1 {
    padding: 15px;
}

.footer-row2 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.social-icons {
    padding-top: 15px;
}

.glyphicon-heart {
    color: #c0392b;
}

.glyphicon.glyphicon-one-dot:before {
    content: "\25cf";
    font-size: 1.5em;
}

.footer-p {
    margin-bottom: 0;
}

a {
    color: darkgray;
}

a:hover {
    text-decoration: none;
    color: #f39c12;
}
/*FOOTER CSS*/


/*BUTTONS CSS*/
.btn {
    background-color: #373737;
    border: none;
    margin-bottom: 5%;
    border-radius: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:focus{
    outline: none;
}

.btn:hover {
    background-color: black;
}
/*BUTTONS CSS*/