html,body{
    height: 100%
}

#color-body {
    font-family: 'Merriweather Sans', sans-serif;
    background: #353535;
    color: white;
}

.navbar-inverse {
    background: #D6D6D6;
    border-color: gray;
    border-style: none;
    margin: auto;
}

#back-text {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

#back-text:hover {
    color:  #f39c1e;
}

h1,
h2,
h3,
h4,
h5,
p {
    cursor: default;
}

hr {
    border-color: #f39c12;
    border-width: 3px;
    max-width: 50px
}

.text-yellow {
    color: #f39c12;
}
.quiz-image {
    display: block;
    max-width: 665px;
    max-height: 500px;
    width: auto;
    height: auto;
    overflow: hidden;
}

.footer {
    color: gray;
    background: #D6D6D6;
}

.space-list {
    padding: 5px;
    position: relative;
}

/*BUTTONS CSS*/
.btn {
    background-color: #f39c12;
    border: none;
    border-radius: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

button:focus{
    outline: none;
}

.btn-info:active:focus {
    background-color: black;
    border-color: black;
}

.btn-info:active {
    background-color: black;
    border-color: black;
}

.btn:hover {
    background-color: black;
}

.btn-info:focus, .btn-info.focus {
    background-color: black;
    border-color: black;
}

.btn-info:active:hover {
    background-color: black;
}

.btn:focus {
    outline: none;
}

.btn:focus, .btn:active:focus {
    outline: none;
}
/*BUTTONS CSS*/

.img-info {
    background: darkgray;
}

.modal {
    color: black;
    background: darkgray;
    -moz-box-shadow: inset 0 0 10em white;
    -webkit-box-shadow: inset 0 0 10em white;
    box-shadow: inset 0 0 10em white;
    text-transform: none;
}

.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
}

.vertical-align-center {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {
    width: inherit;
    height: inherit;
    margin: 0 auto;
}
.show-answer{
    
}

.footer {
    text-align: center;
    color: darkgray;
    background-image: url("images/footer_lodyas.png");
    font-family: 'Merriweather Sans', sans-serif;
}

.footer-row1 {
    padding: 15px;
}

.footer-row2 {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.social-icons {
    padding-top: 15px;
}

.glyphicon-heart {
    color: darkgray;
}

.glyphicon.glyphicon-one-dot:before {
    content: "\25cf";
    font-size: 1.5em;
}

.footer-p {
    margin-bottom: 0;
}

a {
    color: darkgray;
}

a:hover {
    text-decoration: none;
    color: #f39c12;
}

a:hover, a:focus {
    color: #f39c12;
    text-decoration: none;
}

.text-yellow {
    color: #f39c12;
}

.glyphicon-heart {
    color: #c0392b;
}

.intro-margin-bottom {
    margin-bottom: 20px;
}

.modal {
    background: none;
    -webkit-box-shadow: none;
}

.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
    text-align: -webkit-center;
}